# Managed by Ansible (db_stack role). Grafana Cloud remote_write creds.
GRAFANA_CLOUD_PROM_URL={{ grafana_prom_url }}
GRAFANA_CLOUD_PROM_USER={{ vault_grafana_prom_user }}
GRAFANA_CLOUD_PROM_API_KEY={{ vault_grafana_prom_api_key }}
